
@font-face {
  font-family: 'Distortion Dos Analogue';
  src: url('../public/fonts/Distortion-Dos-Analogue.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.red {
  color: red;
  
}

.sponsorContainer {
  width: 100vw; 
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /* background-image: url("/UHX_Background_No_Text 1.png"); */
  background-image: url("/bg_new.jpg");

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.splashContainer {
/* height needs to be edited when adding more sections from Navbar */
    width: 100vw;
    height: 280vh; 
    background-repeat: no-repeat;
    background-size: cover;

    /* background-image: url("/UHX_Background_No_Text 1.png"); */
    background-image: url("/bg_new.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  
  .logoContainer {
    padding-top: 0;
    z-index: 1;
  }
  
  .mainLogo {
    width: auto;
    height: 20vw;

  }

  .rockstarText {
    text-align: center;
    margin-top: 35px;
    color: white;
    /* font-weight: bold; */
    font-size: 1.5em; 
    letter-spacing: 1px; 
    font-family: 'Vidaloka', serif; 

  }

  .locationAndDateText {
    padding-top:"3em";
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'DDA', sans-serif;
  }


  .registerLink {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    /* font-weight: bold;  */
    font-family: 'Anton';
    letter-spacing: 5px;

    padding: 17px 55px 17px 55px;
    gap: 10px;
    border-radius: 25px 0px 25px 0px;
    border: 4px 0px 0px 0px;
    opacity: 1px;

  }
  .registerButton {
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 35px 0 35px 0;
    color: white; 
    cursor: pointer; 
    font-size: 16px;
    width: 300px;
    height: 75px;
  }



  .placeholdersContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .placeholderBox {
    width: 150px;
    height: 200px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .placeholderText {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .headerTitle {
    /* font-size: 2em; */
    color: white;
    margin-top: 25px;
    
  }

  .sponsorSection {
    position: relative;
    margin-top: -12rem; /*// Adjust for overlap with the Team section*/
    height: 125vh;
    width: 100%;
    overflow: hidden;
    padding: 4px;
    /* z-index: -1; */
  }

  .sponsorGrid {
    position: relative;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
    textAlign: center;
    width: 80%;
    z-index: 1;
  }

  .sponsorshipButton {
    display: inline-block;
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .sponsorshipButton:hover {
    transform: scale(1.05); /* Add hover effect */
  }
  
  
  @media screen and (max-width: 1050px) {
    .sponsorGrid {
      top: 20rem;
    }
  }

  @media screen and (max-width: 768px) {
   
    .sponsorContainer {
      align-items: center; /* Center alignment for smaller screens */
      z-index: 0;

    }
    .sponsorshipButton {
      
    }

    .sponsorSection {
      position: relative;
      margin-top: -2rem; /*// Adjust for overlap with the Team section*/
      scale: 2,1;
    }
    .sponsorGrid {
      top: 13rem;
    }

  }

  @media screen and (max-width: 600px) {
    .sponsorGrid {
      background-repeat:repeat-x;
      top: 9rem;
    }
  }