
@font-face {
  font-family: 'Distortion Dos Analogue';
  src: url('../public/fonts/Distortion-Dos-Analogue.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.red {
  color: red;
  
}

.splashContainer {
/* height needs to be edited when adding more sections from Navbar */
    width: 100vw;
    height: 280vh; 
    background-repeat: no-repeat;
    background-size: cover;

    /* background-image: url("/UHX_Background_No_Text 1.png"); */
    background-image: url("/bg_new.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  
  .logoContainer {
    padding-top: 0;
    z-index: 50;
  }
  
  .mainLogo {
    width: auto;
    height: 20vw;

  }

  .rockstarText {
    text-align: center;
    margin-top: 35px;
    color: white;
    /* font-weight: bold; */
    font-size: 1.5em; 
    letter-spacing: 1px; 
    font-family: 'Vidaloka', serif; 

  }

  .locationAndDateText {
    padding-top:"3em";
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'DDA', sans-serif;
  }


  .registerLink {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    /* font-weight: bold;  */
    font-family: 'Anton';
    letter-spacing: 5px;

    padding: 17px 55px 17px 55px;
    gap: 10px;
    border-radius: 25px 0px 25px 0px;
    border: 4px 0px 0px 0px;
    opacity: 1px;

  }
  .registerButton {
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 35px 0 35px 0;
    color: white; 
    cursor: pointer; 
    font-size: 16px;
    width: 300px;
    height: 75px;
  }



  .placeholdersContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .placeholderBox {
    width: 150px;
    height: 200px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .placeholderText {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }