@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&display=swap');

.splashContainer {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/UHX_Background_Drums.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logoContainer {
    position: relative;
    margin-top: -30px;
  }
  
  .mainLogo {
    width: 850px;
    height: 300px;
  }

  .rockstarText {
    text-align: center;
    margin-top: 35px;
    color: white;
    /* font-weight: bold; */
    font-size: 1.5em; 
    letter-spacing: 5px; 
    font-family: 'Audiowide';

  }

  .locationAndDateText {
    padding-top:"3em";
    text-align: center;
    margin-top: 20px;
    color: white;
  }


  .registerLink {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    /* font-weight: bold;  */
    font-family: 'Anton';
    letter-spacing: 5px;

  }
  .registerButton {
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 35px 0 35px 0;
    color: white; 
    cursor: pointer; 
    font-size: 16px;
    width: 300px;
    height: 75px;
  }



  .placeholdersContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .placeholderBox {
    width: 150px;
    height: 200px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .placeholderText {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }