footer {
  padding: 25px 0px 15px;
  text-align: center;
  background-color: #1b1a1a;
}

.footericons {
  opacity: 1;
  margin: 0 5px;
  transition: opacity 0.2s ease-in-out;
}

.footericons:hover {
  opacity: 0.7;
}

#byte {
  transform: scale(1.3);
  margin: 2px 0 0 5px;
}

footer p {
  margin-top: 25px;
}

footer a {
  color: #ffe402;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

footer a:hover, footer a:visited {
  color: #ffe402;
  text-decoration: none;
  opacity: 0.7;
}

@media only screen and (max-width: 380px) {
.footericons {
  margin: 0 2px;
  }
}
