.content {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-left: 5vw;
}

.center {
    position: absolute;
    height: 130vw;
    width: 130vw;
    left: 50%;
    top: 50%;
}

.background {
    position: relative;
    margin-left: -50%;
    margin-top: -50%;
    height: 100%;
    width: 100%;
    transform: rotate(70deg);
    background-image: radial-gradient(#000000 50%, transparent 50%);
    background-position: 0 0, 50px 50px;
    background-size: 10px 10px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    width: 55vw;
}

.graphics {
    position: relative;
    height: 38vh;
}

.redContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 54%;
}

.redShape {
    position: absolute;
    height: 100%;
    width: 100%;
}

.what {
    position: relative;
    width: 70%;
    right: 5%;
}

.yellowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 54%;
    left: 46%;
    top: 0;
}

.yellowShape {
    height: 100%;
    width: 100%;
}

.byteContainer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.byte {
    position: relative;
    width: 100%;
    right: .8%;
}

.info {
    font-size: 2vh;
    color: black;
    background-color: white;
    height: 38vh;
    outline: black solid 4px;
    outline-offset: -4px;
    margin-top: 3vh;
    width: 100%;
    box-sizing: border-box;
    padding: 4vh 4vw 4vh 4vw;
}

.hackathonImage {
    background-color: wheat;
    width: 25vw;
    height: 79vh;
    margin-left: 3vw;
    outline: black solid 4px;
    outline-offset: -4px;
    overflow: hidden;
}

@media only screen and (max-width: 1230px) {
    .content {
        flex-direction: column;
        margin-left: 3vw;
    }

    .infoColumn {
        width: 86vw;
        margin-top: 1vh;
    }

    .graphics {
        height: 14vh;
    }
    
    .info {
        font-size: 1.6vh;
        margin-top: 2vh;
        padding: 1vh 6vw 1vh 6vw; 
        height: 42vh;
    }

    .hackathonImage {
        width: 86vw;
        height: 20vh;
        margin-left: 0;
        margin-top: 2vh;
        outline: black solid 4px;
        outline-offset: -4px;
        overflow: hidden;
    }

    .hackathonImage img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}