@font-face {
  font-family: 'Action Comics Black';
  src: url('../public/fonts/Action\ Comics\ Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ActionComics";
  src: url("/web/ugahacks-9/public/fonts/Action Comics Black.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.banner {
  z-index: 0;
  width: 100%;
  margin-top: -35px;
}


.comic_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 50%;
}

.comic_nav > * {
  font-family: "ActionComics";
}

.speech_bubble1 {
  position: absolute;
  width: min-content;
  bottom: 150px;
  right: 0;
}

.speech_bubble2 {
  position: absolute;
  width: min-content;
  bottom: 75px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  color: black;
  font-family: 'ActionComics';
  position: absolute;
  text-align: center;
  width: 100px;
  font-size: small;
  padding-bottom: 20px;
}

.caption2 {
  color: black;
  font-family: 'ActionComics';
  position: absolute;
  text-align: center;
  width: 180px;
  font-size: 24px;
  left: 80px;
  top: 60px
}

.imageText {
  font-family: 'Action Comics Black', sans-serif;
  text-align: center; /* Center the text */
  margin-top: 10px; /* Add some space between the image and the text */
  font-size: 1em; /* Adjust the font size as needed */
  font-weight: bold; /* Making the text bold */
  color: #fff; /* Setting the text color. Change as needed */
}
