/* Splash.css */
@font-face {
  font-family: 'Action Comics Black';
  src: url('../public/fonts/Action\ Comics\ Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.splash-container {
  position: relative;
  height: 100vh;
}

.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url('../public//banner.png'); /* Adjust path as needed */
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center;
}

.splash-image {
  object-fit: contain;
  width: 100%;
  height: 100%;

}

.images-row {
  position: absolute;
  top: 65%; /* adjust based on how much overlay you want on the banner */
  width: 90%;
  display: flex;
  margin-bottom: 80px;
  justify-content: center; /* Center the child elements horizontally */
  flex-wrap: wrap; /* Optional: allows items to wrap to the next line if needed */
  right: 65px
}

.image-container {
  width: 15%; /* Adjust the width of the individual images containers */
  margin: 0 50px; /* Margin for spacing between containers */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder-image {
  width: 80%; /* make the placeholder images fill their containers */
  height: 200px
}

.image-text {
  font-family: 'Action Comics Black', sans-serif;
  text-align: center; /* Center the text */
  margin-top: 30px; /* Add some space between the image and the text */
  font-size: 1em; /* Adjust the font size as needed */
  font-weight: bold; /* Making the text bold */
  color: #ffffff; /* Setting the text color */
  /* Other styles if needed */
}
