@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}
