@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}


.custom_hover {
  @apply  ease-in-out hover:scale-110  duration-300 no-underline
}
.custom_hover_icon {
  @apply  ease-in-out hover:scale-110  duration-300 no-underline
}

.register_button {
  @apply bg-white rounded-3xl px-14 py-4 text-4xl no-underline text-[#428a5a] hover:bg-goblin-500 hover:text-white ease-in-out duration-300 hover:scale-105 hover:drop-shadow-xl
}

.NavTop {
  @apply text-white hover:text-celery-300 ease-in-out hover:scale-110  duration-300 no-underline
}
.NavPostTop {  
  @apply text-white hover:text-goblin-200 ease-in-out hover:scale-110  duration-300 no-underline
}
