.faq {
  color: red;
}

.byte {
  color: blue;
  font-weight: bold;
}

.chatBody {
  font-size: 1.5em;
  width: 100%;
  height: 50vh;
  margin-bottom: 5%;
  margin-top: 5%;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}

.faqContainer {
  margin-top: 2em;
}

.questions {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.answers {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

.window {
  display: flex;
}

.dropdown {
  margin-bottom: 2em;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.topic {
  font-size: 1.25em;
  font-weight: bold;
  color: purple;
}

.scroll {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 40vh;
}

.inputChat {
  width: 100%;
  height: 5.3vh;
  margin-bottom: 5%;
  margin-top: 5%;
  resize: none;
  font-size: 1.5em;
}

.sendBtn {
  font-size: 1.75em;
}

.link {
  color: blue !important;
  text-decoration: underline !important;
}