.body { 
    padding: 0;
    margin: 0;
    display: flex;
    /* background-image: repeating-linear-gradient(to bottom, #E83151, #E83151 100px,  #2D0320 100px  ,
     #2D0320 200px); */
    /* background-image: linear-gradient(to right,#2D0320,#E83151, #2D0320); */
    background-image: linear-gradient(#2D0320,#E83151, #2D0320);
  font-family:"pixelated MS Sans Serif";
    
}
.leftSide, .rightSide, .middle {
  -webkit-overflow-scrolling: touch;
}

.logo {
  border: #E83151;
  border-style: double;
  border-width: .7em;


}
.leftSide, .rightSide {
  width: 7%;
  height: 100%;
  min-height: 2000px;
}

.leftSide {
 float: left;
}
.rightSide {
  position: relative;
  float: right;
}
.middle {
  width: 86%;
  float: left;
}



.logoTitle {
  text-align: center;
  margin-bottom: 4%;
  width: 300px;
  margin-top: 2em;
  height: 100px;
  z-index: 15;
  margin-bottom: 0;
}
.titleText {
  text-align: center;
  margin-bottom: 4%;
  color: white;
  font-size: 2.6em;
  padding-top: 0;
  margin-top: .2em;
}
.border {
  border: #E83151;
  border-style: solid;
  padding: 4%;
  font-size: 1.6em;
  border-width: .2.5em;
} 
.borderlink {
  border: #E83151;
  border-style: double;
  max-width: 100%;
  border-width: .6em;
  max-height: 0%;
  margin: 1.5em;
}
.link {
  color: #FF901F;
  padding: .35em;
  margin: 0;

}




.sponsers {
  padding: 5%;
}
.topText {
  font-size: 2.1em;
  padding: 0;
  margin: .1em;

}



.title {
  border: #FDAFF6;
  border-style: solid;
  border-style: groove;
  border-radius: 3em;
   color:white;
  padding: 5%;
  text-align: center;
 border-width: .5em;
  background-color: #392B58;
  margin-bottom: 2em;
  margin-top: 3em;

}
.about {
  color: white;
  background-color: #392B58;
  padding: 5%;
  border: #FDAFF6;
  border-style: solid;
  border-style: groove;
  border-radius: 3em;
  border-width: .5em;
  margin-bottom: 2em;
}
.schedule {
  background-color: #392B58;
  color: white;
  padding: 5%;
  border: #FDAFF6;
  border-style: solid;
  border-style: groove;
  border-radius: 1em;
  border-width: .5em;
  color: white;
  padding: 5%;
  border-radius: 3em;
  margin-bottom: 2em;
}
.faq {
  background-color: #392B58;
  color: white;
  padding: 5%;
  color: white;
  padding: 5%;
  border: #FDAFF6;
  border-style: solid;
  border-style: groove;
  border-width: .5em;
  border-radius: 3em;
  margin-bottom: 2em;
}
.sponsers {
  background-color: #392B58;
  color: white;
  padding: 5%;
  border: #FDAFF6;
  border-style: solid;
  border-style: groove;
  border-radius: 1em;
  border-width: .5em;
  color: white;
  padding: 5%;
  border-radius: 3em;
  margin-bottom: 3em;
}

.spacing {
  height: 5em;
}
.regLink {
  color: white;
  font-size: 2em;
  padding-top: 1em;
  padding: .2em;
  margin: .2em;
  text-decoration: none;
}
.regLinkDiv {
  margin-bottom: 1.3em;
  text-decoration: underline;
}