.body {
    height: 100vh;
    position: fixed;
    width: 100%;
    min-height: 100%;
    padding-bottom: 1vh;
}

.mlh_trust_badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.mlh_trust_badge:focus {
    outline: 0;
}

.border {
    height: 100%;
    width: 100%;
    background-color: #2D0320;
    background-size: 100%;
}

.main {
    background-image: url("../public/logo_background.png");
    background-repeat: no-repeat;
    background-position:center;  /*should be changed to right when nav added*/  
    /**background-size: 80% 100%;*/
    background-size: cover;
    height: 100%;
    width:100%;
    max-width: 100%;
}

.greyTop {
    min-height: 4vh;
    border-top: .5vh solid #000;
    border-left: .5vh solid #000;
    border-right: .5vh solid #000;
    background-color: #04293A;
    background-size: cover;
    
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
