.blueBanner {
  background: linear-gradient(90deg, navy, #53bdf8);
}
.url {
  font-size: 1.25em;
}
.bodyText {
  font-size: 2em;
}

.blueBanner, .url, .bodyText, .heading {
  font-family: 'Times New Roman', Times, serif;
  padding-left: 2px;
}
