.body {
  /* border: 1px solid red; */
  background-image: linear-gradient(
    180deg,
    hsl(175deg 100% 43%) 0%,
    hsl(179deg 100% 41%) 14%,
    hsl(183deg 100% 41%) 29%,
    hsl(186deg 100% 41%) 43%,
    hsl(189deg 100% 41%) 57%,
    hsl(192deg 100% 40%) 71%,
    hsl(194deg 100% 39%) 86%,
    hsl(200deg 64% 46%) 100%
  );

  height: 120vh;
}

.custom_shape_divider_top_1694365385 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape_divider_top_1694365385 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 190px;
}

.custom_shape_divider_bottom_1694366369 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_bottom_1694366369 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 200px;
}

.custom_shape_divider_bottom_1694366369 .shape_fill {
  fill: #1b588d;
}
