@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  font-family: "Alata", sans-serif;
}

body {
  margin: 0;
  color: white;
  overscroll-behavior: none;
  overflow-x: hidden;
}

section {
  position: relative;
}
