.body {
  /* border: 1px solid red; */
  background-image: linear-gradient(
    180deg,
    hsl(227deg 83% 16%) 0%,
    hsl(234deg 67% 17%) 0%,
    hsl(243deg 61% 17%) 1%,
    hsl(251deg 65% 16%) 4%,
    hsl(258deg 71% 15%) 10%,
    hsl(265deg 78% 14%) 18%,
    hsl(266deg 66% 13%) 31%,
    hsl(268deg 55% 11%) 51%,
    hsl(271deg 42% 10%) 76%,
    hsl(275deg 26% 8%) 94%,
    hsl(0deg 0% 7%) 100%
  );
  height: 1080px;
}
.contentBody {
  max-height: 90vh;
}
.headingSponsor {
  margin: 40px;
  padding: 10px;
  font-size: 40px;
}
.jellyfish {
  max-width: 230px;
  height: 100%;
  margin-left: 40px;
}
.anglerfish {
  max-width: 230px;
  height: 100%;
  margin-left: 40px;
  transform: translate(800px, -200px);
}
.sponsorsContainer {
  display: flex;
  justify-content: center;
}
.gdgSponsor {
  max-width: 200px;
  height: 100%;
  margin: 20px;
  transform: translateY(-180px);
}

.parentButtonContainer {
  display: flex;
  justify-content: center;
}
.sponsorPacketButton {
  padding: 25px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}
.sponsorshipLink {
  color:white;
  text-decoration: none;
}
.sponsorshipLink:hover  {
  color: white;
  text-decoration: underline;
}
.coralContainer {
  position: absolute;
  display: flex;
  overflow: hidden;
}
.coral1 {
  max-width: 200px;
  height: 100%;

}
.coral2 {
  max-width: 150px;
  height: 100%;
}
.coral3 {
  max-width: 120px;
  height: 100%;
}
.coral4 {
  max-width: 115px;
  height: 100%;
}
.coral5 {
  max-width: 120px;
  height: 100%;
}
.coral6 {
    max-width: 200px;
    height: 100%;
    margin-left: 550px;
    z-index: 1;
}
.cliff {
  transform: translate(950px, -380px);
  max-width: 700px;
  height: 100%;
  z-index: 0;
}
.custom_shape_divider_bottom_1694379347 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom_shape_divider_bottom_1694379347 svg {
  position: relative;
  display: block;
  width: calc(274% + 1.3px);
  height: 127px;
}

.custom_shape_divider_bottom_1694379347 .shape_fill {
  fill: #111111;
}

.custom_shape_divider_top_1694381642 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom_shape_divider_top_1694381642 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 153px;
  transform: rotateY(180deg);
}

.custom_shape_divider_top_1694381642 .shape_fill {
  fill: #0d101c;
}
