.body {
  /* border: 1px solid red; */
  background-image: linear-gradient(
    180deg,
    hsl(227deg 83% 16%) 0%,
    hsl(234deg 67% 17%) 0%,
    hsl(243deg 61% 17%) 1%,
    hsl(251deg 65% 16%) 4%,
    hsl(258deg 71% 15%) 10%,
    hsl(265deg 78% 14%) 18%,
    hsl(266deg 66% 13%) 31%,
    hsl(268deg 55% 11%) 51%,
    hsl(271deg 42% 10%) 76%,
    hsl(275deg 26% 8%) 94%,
    hsl(0deg 0% 7%) 100%
  );

  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  position: absolute;
  transform: translateY(30%);
  top: 0;
}

.heading {
  font-family: "Quicksand", "Alata", sans-serif;
  font-size: 3.5em;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  z-index: 1;
  margin-bottom: 100px;
}

.sponsors_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  width: 70vw;
}

.sponsor_container > * {
  flex: 1 1 350px;
}

.sponsor_logo {
  width: 350px;
  transition: transform 0.3s;
}

.sponsor_logo:hover {
  transform: scale(1.15);
}

.button {
  margin-top: 90px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px;
  transition: transform 0.1s;
}

.button > a {
  color: white;
  text-decoration: none;
}

.button:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
  cursor: pointer;
}

.custom_shape_divider_bottom_1694379347 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom_shape_divider_bottom_1694379347 svg {
  position: relative;
  display: block;
  width: calc(274% + 1.3px);
  height: 127px;
}

.custom_shape_divider_bottom_1694379347 .shape_fill {
  fill: #111111;
}

.custom_shape_divider_top_1694381642 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom_shape_divider_top_1694381642 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 153px;
  transform: rotateY(180deg);
}

.custom_shape_divider_top_1694381642 .shape_fill {
  fill: #0d101c;
}

.jellyfish {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  transform: translate(10%, 100%);
}

.cliff {
  position: absolute;
  bottom: 0;
  width: 900px;
  right: 0;
  transform: translate(50%, 0%);
}

@media only screen and (max-width: 1230px) {
  .cliff,
  .jellyfish {
    display: none;
  }
}

@media only screen and (max-width: 915px) {
  .body {
    height: 1200px;
  }
}
