.faq-section {
  background-image: url(/icons/SplashImages/images/1.svg); 
  /*background-image: url(/icons/FAQImages/images/leaves_background.svg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  /*min-height: 200vh;*/
}

.question-wrapper {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.covid-faq-section {
  background-image: url("../public/icons/SplashImages/images/1.svg");
  /*background-repeat: no-repeat;*/
  background-size: cover !important;
  /*background-position: center;*/
  /*background-size: 100% auto;*/
  /*position: absolute;*/
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.faq-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  margin: 0 0 0 10vw;
  width: 50%;
}

.faq-question-wrapper {
  overflow-y: scroll;
  height: 50vh;
}

.faq-question-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.faq-question-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.faq-question-wrapper::-webkit-scrollbar-thumb {
  background-color: #3a4146;
}

/* FIREFOX: */

.faq-question-wrapper {
  scrollbar-width: thin;
  scrollbar-color: slategrey rbga(0, 0, 0, 0);
}

.covid-faq-container {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  width: 40%;
}

.covid-faq-container h1 {
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  color: #ffe401;
  order: -1;
  color: black;
}

.faq-container h1 {
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  color: #8a6851;
  order: -1;
}

.faq-question {
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 98.5%;
  border: none;
  text-align: left;
  outline: none;
}

.active .faq-question:hover {
  background-color: #ddd;
}

.faq-question:after {
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.faq-question:active {
  outline: 0;
}

.faq-question:hover {
  outline: 0;
}

.faq-question:focus {
  outline: 0;
}

.faq-answer {
  width: 98.5%;
  overflow: hidden;
  background-color: #f5f5f5;
  color: #444;
  order: -1;
}

.faq-answer p {
  margin: auto 0;
  padding: 18px 18px;
}

#show-more {
  margin-top: 0px;
  font-size: 1em;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 40px;
  color: white;
  text-align: center;
  /*width: 100%;*/
  white-space: nowrap;
  margin: 40px auto;
  outline: none;
}

.show-more-black {
  background-color: black !important;
}

.show-more-yellow {
  color: #444 !important ;
  background-color: #ffe401 !important;
}

.hidden-questions {
  overflow: hidden;
}

.covid-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.covid-byte {
  margin: auto 0;
  max-width: 30vw;
  height: 65vh;
}

.acorn-wrapper {
  float: right;
}

.acorn img {
  float: right;
  margin: auto 0;
}

@media only screen and (max-width: 960px) {
  .covid-faq-container {
    width: 90%;
    margin: auto;
  }
  .covid-container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .covid-faq-section {
    background-image: url("../public/icons/SplashImages/images/1.svg");
    /*background-position: center;*/
  }
  .covid-byte {
    width: 80%;
    height: 27.5vh;
    min-height: 450px;
    min-width: 350px;
    margin: 0 auto 30px;
  }
  .acorn{
    height: 12px;
  }
}

@media only screen and (max-width: 1450px) {
  .faq-section {
    background-image: 
      url("../public/icons/SplashImages/images/1.svg");
      /* background-image: url(/icons/FAQImages/images/crumpledPaper.png); */
  }

  .faq-container {
    margin: 0 auto;
    width: 60%;
  }

  .covid-faq-container h1 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .covid-faq-container,
  .faq-container {
    width: 90%;
    margin: auto;
  }

  .covid-faq-container > h1 {
    margin-top: 30px;
    color: #21232c;
  }

  .covid-container {
    flex-direction: column;
  }
  .covid-byte {
    width: 80%;
    margin: 0 auto 30px;
    min-width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .faq-question {
    font-size: 0.7em;
  }
  #show-more {
    width: 100%;
    white-space: normal;
  }
}
