@import "tailwindcss";
/* Font imports */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Encode Sans */
@font-face {
  font-family: "Encode Sans";
  src: url("../public/fonts/EncodeSans-Regular.woff2") format("woff2");
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Encode Sans";
  src: url("../public/fonts/EncodeSans-Medium.woff2") format("woff2");
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Encode Sans";
  src: url("../public/fonts/EncodeSans-Bold.woff2") format("woff2");
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

/* Amarate */
@font-face {
  font-family: "Amarante";
  src: url(../public/fonts/Amarante-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.font-amarante {
  font-family: "Amarante", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
.font-encode-sans {
  font-family: "Encode Sans";
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

/* .amarante-regular {
  font-family: "Amarante", monospace;
  font-weight: 400;
  font-style: normal;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-encode: "Encode Sans", ui-sans-serif, system-ui, -apple-system,
                 "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-amarante: "Amarante", ui-serif, Georgia, Cambria, "Times New Roman";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}
* {
  cursor: none;
}
@media (min-width: 766px) {
  * {
    cursor: none;
  }
}